.container,.container-fluid,.row{
    margin: 0 auto;padding: 0;
}
li{
    list-style: none;
}

#banner{
    position: relative;
}
#bannerImg{
    width: 100%;
}
#banner header{
    position: absolute;
    top: 10px;
    left: 0;right: 0;
    margin: 0 auto;
}
#banner #bNav ul{
    display: flex;
    justify-content: space-between;
}
#banner #bNav li{
    color: #fff;
}
#banner .logoBox{
    position: relative;
    z-index: 1001;
}
#banner .logoBox img{
    width: 100%;
    max-width: 150px;
    min-width: 75px;
}
#banner .sNavBtn{
    padding-right: 10px;
    color: #fff;
    position: relative;
    z-index: 1001;
}


#sNav{
    position: absolute;
    top: -10px;
    height: 100vh;
    padding-top: 10px;
    width: 100vw;
    background: #333;
    z-index: 1000;
    display: none;
    overflow: hidden;
}

#sNav ul{
    width: 100%;
    margin: 0;padding: 0;
    padding-top: 50px;

}
#sNav ul li{
    float: none!important;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}



#banner article{
    /*background: red;*/
    width: 100%;
    position: absolute;
    top: 16vw;
/**/
}
#banner article h1{
    color: #fff;
    font-size:5vw;
    text-align: center;
}
#banner article form{
    display: block;
    width: 50%;
    margin: 0 auto;
}
#banner form .row *{
    padding: 5px 0;
    border: none;
}
#banner form button{
    background: #f60;
    color: #fff;
}
#banner .sForm{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
#banner .sForm input{
    background: none;
    border: none;
    border-bottom: 1px dashed #fff;
    outline: none;
    color: #fff;
    width: 0vw;
    transition: all 0.3s;
}
#banner .sForm span{
    color: #fff;
}

#news{
    padding:0 5vw;
    position: relative;
}
#news>p{
    color: #9c9c9c;
}
#news>h5{
    margin-top: 50px;
}
#news ul{
    padding: 0!important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
#news ul li{
    width: 100%;
}
#news ul li img{
    width: 100%;

}
#news li .liTop{
    position: relative;

}
#news li .liTop span{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
}
#news .bg{
    width: 100vw;
    height: 150px;
    background: #b2b2b2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
@media all and (min-width: 768px){
    #news ul li{
        width: 45%;
    }
}
@media all and (min-width: 992px){
    #news ul li{
        width: 23%;
    }
}
